
.container {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap;
    width: 100%; /* Set container height to the full height of the viewport */
  }

  .main-section {
    margin: 20px;
    background-color: white;
    /* Content styling for main section */
    width: 100%;
  }

  
  body {
    background-image: url("SKL\ Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .translation{
    border-radius: 2%;
    text-align: center;
    position: absolute;
    width: 990px;
    height: 170px;
    left: 40px;
    top: 845px;
    background-color: #8B8B8B;
  }

  .side-section {
    width: 35;
  }

  