.container {
    display: flex; /* Use Flexbox */
  }

  
  .main-section {
    margin: 0 4px;
    border-radius: 2%;
    background-color: white;
    /* Content styling for main section */
    position: absolute;
    width: 1030px;
    height: 1030px;
    left: 60px;
    top: 25px; 
  }

  body {
    background-image: url("SKL\ Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 1920px;
    height: 1080px;
  }
position: absolute;
width: 990px;
height: 170px;
left: 80px;
top: 874px;
