
.container {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap;
    width: 100%; /* Set container height to the full height of the viewport */
    margin: 3%;
  }

 

  
  body {
    background-image: url("SKL\ Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .main-section {
    background-color: white;
    /* Content styling for main section */
    width: 60%;
    height: 90vh;
    border-radius:20px;
    align-items: center;
    align-content: center;
    display: block;
  }

  .side-section {
    display: block;
    margin-left: 5%;
    width: 30%;
    border-radius:20px;
    height: 90vh;
  }


  .videodiv{
    width: 100%;
    background-color:;
    height:70%;
    border-radius:20px;
  }

  .translatediv{
    margin-top: 5%;
    width: 94%;
    background-color:white;
    height:20%;
    margin-left: 3%;
    border-radius:20px;
  }
  

  .storiesdiv{
    display: flex;
  }

  .btnstory{
    width: 30%;
    margin-left: 2%;
    font-size: 5em;
    border-radius:10px;
    height: 20%;
  }

  .cameradiv{
    width: 94%;
    margin-left: 2%;
    border-radius:10px;
    background-color:gray;
    height: 72%;
    margin-top: 3%;
  }

  .backtohomebtn{
    width: 70%;
    font-size: 2em;
    border-radius:10px;
    background-color:#452887;
    margin-top: 5%;
    margin-left: 15%;
    justify-content: center;
    text-align: center;
    height:10%;
    padding-top:4%;
  }

  * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 3840px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color:#D64C94;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;

  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


  /*.previous{
    width: 30%;
    height: 30%;
    display: inline-block;
  }

  .next{
    width: 30%;
    height: 30%;
    display: inline-block;
  }
/*
