
.container {
    display: flex; /* Use Flexbox */
    flex-wrap: wrap;
    width: 100%; /* Set container height to the full height of the viewport */
  }

  .main-section {
    margin: 20px;
    background-color: white;
    /* Content styling for main section */
    width: 45%;
  }

  
  body {
    background-image: url("SKL\ Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }



  .side-section {
    width: 30%;
  }

  