.container {
    display: flex; /* Use Flexbox */
  }

  
  .main-section {
    margin: 0 4px;
    border-radius: 2%;
    background-color: white;
    /* Content styling for main section */
    position: absolute;
    width: 1030px;
    height: 1030px;
    left: 60px;
    top: 25px; 
  }

  body {
    background-image: url("SKL\ Background.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 1920px;
    height: 1080px;
  }
  
  .side-section {
    flex-shrink: 0; /* Prevent side section from shrinking */
    width: 30%; /* Set the width of side section to 30% of container */
    background-color: lightgreen; /* Set light green background color */
    padding: 16px; /* Add padding for spacing */
    margin: 0 4px;
    border-radius: 3%;
    text-align: center; /* Center align the content within the side section */
    position: relative;
    /* Content styling for side section */
  }