@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.headercontainer{
    display: flex;
    font-size: 1.8em;
    font-weight: 900;
    font-style: bold;
    padding: 18px;
    background-color: #d6d6d6;
    margin:10px;
    border-radius: 30px;
    width: 98%;
}
.maincontainer{
    width: 98%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.signandtranslatediv img{
    width: 80%;
}

.tellastorydiv img{
    width: 72%;
}

.signandtranslatediv,.tellastorydiv{
    width: 30%;
    font-size: 1.7em;
}

.datediv{
    font-size: 1.2em;
}

.mainsubdiv{
    width: 40%;
    font-size: 1.8em;
    font-weight: 400;
    background-color: #d6d6d6;
    height: 80vh;
    border-radius: 20px;
    padding: 10px;
}

.maincontainer a{
    color: #000000;
    text-decoration: none;
}


/* for burger */
.menu-btn {
    
    top: 0;
    z-index: 999;
    margin-left: auto; 
    margin-top: 12px;
    margin-right: 20px;

  }
  
  .menu-btn__burger {
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  
  .menu-btn__burger span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #000;
    margin: 5px 0;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .menu-btn__burger span:nth-child(2) {
    top: 65%;
    transform: translateY(-50%);
  }
  
  .menu-btn__burger span:nth-child(3) {
    bottom: 15px;
  }
  
  .menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 998;
    transition: all 0.3s ease-in-out;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    margin: 20px 0;
  }
  
  .menu a {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
  }
  
  .menu-btn__burger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-btn__burger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .menu-btn__burger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
  
  
  


@media only screen and (max-width: 1000px) {
    .maincontainer{
        display: block;
    }

    .signandtranslatediv,.tellastorydiv{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.5em;
        margin-top: 40px;
    }

    .mainsubdiv{
        width: 80%;
        padding: 10px;
        height: 60vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        margin-top: 30px;
    }
  }