@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: 5px solid;
}

.logoblob{
  position: absolute;
  left: 21.74%;
  right: 45.28%;
  top: -23.8%;
  bottom: 76.56%;
  background: #C2E09B;
  box-shadow: 0px 10px 10px #9F6FB4;
  transform: matrix(0.92, 0.39, 0.39, 0.92, 0, 0);
}