*{
  /* border: solid 1px red; */
  font-family: "Comic Sans MS", "Comic Sans";
}

body {
  background-image: url("../images/bgpage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Set container height to the full height of the viewport */
  margin-top: 2%;
}


.main-section {
  display: block;
  width: 65%;
  height: 90vh;
  background-color: lightblue;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  margin-left: 3%;
  
}

.text-trans{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82%;

}

.translatedword{
  font-size: 8em;
  text-align: center;
  /* margin-top: 15%; */
}

.button-slider {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  scroll-snap-type: x mandatory;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 23%;
  margin-top: -3%;
}

.button-container {
  gap: 1rem;
  scroll-snap-type: x mandatory; 
  height: 100%;
}

.all{
  background: none;
  border: none;
  cursor: pointer;
  width: 90%;
  height: auto;
  margin-top: 8%;
  box-shadow: 5px 3px 5px 0px rgba(100,138,145,0.75);
}

.btn{
  padding:0%;
  width: 15%;
  height: auto;
  scroll-snap-align: start;
  background: none;
  border: none;
  margin-right: -1%;
  border-radius: 50%;
}


/* .image-btn {
  width: 100px;
  height: 100px;
  background-color: rgb(122, 177, 153);
  padding: 0; /* Set padding to 0 to create square buttons
  object-fit: cover;
  scroll-snap-align: start;
  /* Use your own styles for the image buttons
} */

.side-section {
  display: block;
  width: 30%; /* Set the width of side section to 30% of container */
  height: 80vh;
   /* Set light green background color */
  margin-left: 1%;
  /* border-radius: 10px; */
}

.currentcategory{
  /* display:block; */ 
  width:100%;
  font-size: 2em;
  font-weight:400;
  text-align: center;
  color: #fff;
  background: lightblue;
  padding: 10px 10px; 
  /* border-radius:10px; */
  height:20%;
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

}

.camera-div {
  width: 90%;
  height: 90%;
  margin-left: 2%;
  /* border-radius:10px; */
  /* background-color: rgb(144, 158, 238); */
  overflow: hidden;
  padding-bottom: -5%;
  
}

/* .camera-div img{
  margin-top: 40%;
  width: 100%;
  height:auto;
  clip-path: inset(0 0 0 0);
  transform: scale(2);

} */
.vid-cont img{
  margin-top:35%;
  height:50%;
  width: 100%;
  clip-path: inset(0 0 0 0);
  transform: scale(2);
  z-index: 998;
}



.back-to-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width:70%;
  height:15%;
  background-color:#452887;
  color: #fff;
  margin-left: 15%;
  margin-top: 5%;
  border-radius:10px;
  font-size: 30px;
}

a{
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
}
