*{
  /*   */
  font-family: "Comic Sans MS", "Comic Sans";
}

body {
  background-image: url("../images/bgpage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Set container height to the full height of the viewport */
  margin-top: 2%;
}


.main-section {
  display: block;
  width: 65%;
  height: 90vh;
  background-color: lightblue;
  border-radius: 10px;
  align-items: center;
  align-content: center;
  margin-left: 3%;
  
}

.text-trans{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82%;

}

.translatedword{
  font-size: 8em;
  text-align: center;
  /* margin-top: 15%; */
}

.button-slider {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  scroll-snap-type: x mandatory;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 23%;
  margin-top: -3%;
}

.button-container {
  gap: 1rem;
  scroll-snap-type: x mandatory; 
  height:100%;
}

.all{
  background: none;
  border: none;
  cursor: pointer;
  width: 83%;
  height: auto;
  margin-top: 10%;
  /* box-shadow: 5px 3px 5px 0px rgba(100,138,145,0.75); */
}

.all.active{
  background-color: #F59EB8;
  border-radius: 5%;
  transform: scale(1.1);
}

.btn{
  padding:0%;
  width: 15%;
  height: auto;
  scroll-snap-align: start;
  background: none;
  border: none;
  margin-right: -1%;
  border-radius: 50%;
}


/* .image-btn {
  width: 100px;
  height: 100px;
  background-color: rgb(122, 177, 153);
  padding: 0; /* Set padding to 0 to create square buttons
  object-fit: cover;
  scroll-snap-align: start;
  /* Use your own styles for the image buttons
} */

.side-section {
  display: block;
  width: 30%; /* Set the width of side section to 30% of container */
  height: 80vh;
   /* Set light green background color */
  margin-left: 1%;
  /* border-radius: 10px; */
}

.currentcategory{
  /* display:block; */ 
  width:95%;
  font-size: 3vh;
  font-weight:800;
  text-align: center;
  color: #0a0a0a;
  background: lightblue;
  padding: 10px 10px; 
  border-radius:10px;
  height:20%;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

.camera-div {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  /* border-radius:10px; */
  /* background-color: rgb(144, 158, 238); */
  overflow: hidden;
  padding-bottom: -5%;
  
}

/* .camera-div img{
  margin-top: 40%;
  width: 100%;
  height:auto;
  clip-path: inset(0 0 0 0);
  transform: scale(2);

} */

.vid-cont img{
  height:60%;
  width: 80%;
  margin-top: 25%;
  /* clip-path: inset(0 0 0 0); */
  transform: scale(1.5);
  z-index: 998;
}

.snt-tool{
  margin-top: -25%;
  text-align: center;
  
}

h1{
  color: #452887;
  font-weight: 900;
  font-size: 1.5em;
  font-family: "Century Gothic", sans-serif;
  margin-top: -1%;
}

h2{
  color: #452887;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.3s;
  font-size: 2em;
  font-family: "Century Gothic", sans-serif;
  

  /* margin-left: -5%; */
}
.tool-content{
  width: 23.5%;
  background: #fff;
  /* padding: 0 3%; */
  position: absolute;
  border-radius: 3%;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  align-items: center;
  align-self: center;
  margin-left:3%;
  margin-top: -1%;
  
}

.tool-content h3{
  font-weight: 900;
  margin-bottom: 1%;
  font-size: 1.5em;
  font-family: "Century Gothic", sans-serif;
}

.tool-content p{
  line-height: 1.4;
  font-weight: 500;
  font-family: "Century Gothic", sans-serif;
}

h2:hover + .tool-content{
  visibility: visible;
  opacity: 1;
}

h2:hover{
  opacity: 0.7;
}

.back-to-home {
  display: flex;
  justify-content: center;
  align-items: center;
  width:70%;
  height:25%;
  background-color:#452887;
  color: #fff;
  margin-left: 12%;
  margin-top: 20%;
  border-radius:10px;
  font-size: 3vh;

  padding: 2%;
}

a{
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
}

#st-tool4{
  font-family: "Century Gothic", sans-serif;
  position: fixed;
  display:block;
  opacity:0;
  visibility: hidden;
  background: #F59EB8;
  color: #000;
  font-size: 1.5em;
  box-shadow: 0 8px 10px rgba(0,0,0,.1);
  padding: 5px 15px;
  border-radius: 15px;
  z-index:999;
}

.vid-cont:hover #st-tool4{
  opacity: 1;
  visibility: visible;
}
