body{
  background-image: url("../images/bgpage.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
  font-family: "Comic Sans MS", "Comic Sans";
}

/* *{
  border: 1px solid red;
  
} */

.maincontainer{
  display: flex; /* Use Flexbox */
  flex-wrap: wrap;
  width: 100%; /* Set container height to the full height of the viewport */
}

.leftsec{
  background-color: white;
  width: 60%;
  height: 92vh;
  border-radius:20px;
  align-items: center;
  align-content: center;
  display: block;
  margin-top: 2%;
  margin-left: 2%;
}

.mainsection{
  margin-top: 9%;
}

.carousel-inner{
  width: 100%;
  background-color: none;
  border-radius:20px;
}

.rightsec{
  display: block;
  margin-left: 5%;
  width: 30%;
  border-radius:20px;
  height: 92vh;
  margin-top: 2%;
}

.carousel-buttons{
  display: flex;
  width:100%;
  height:20%;
  gap: 0.1rem;
}

.carousel-btn{
  background:none;
  border:none;
  cursor: pointer;
}

.stories{
  width:100%;
  height:auto;
  border-radius: 8%;
}

.scamdiv{
  width: 94%;
  margin-left: 3%;
  border-radius:10px;
  background-color: none;
  height: 60%;
  margin-top: 4%;
}

.scamdiv img{
  margin-top: 10%;
  width: 100%;
  border-radius: 20%;
}

.sback{
  width: 85%;
  font-size: 3em;
  border-radius:10px;
  background-color:#452887;
  margin-top:5%;
  margin-left: 8%;
  justify-content: center;
  text-align: center;
  height:10%;
  padding-top:1%;
}

.sback a{
  text-decoration: none;
  color: white;
}

.carousel-control-prev,
.carousel-control-next {
background-color: #000;
color: #fff;
padding: 10px 10px;
cursor: pointer;
position:absolute;
top:45%;
bottom:45%;
width:auto;
padding:16px;
opacity:0.2;
user-select: none;
}

.carousel-control-prev{
  border-radius: 0 50% 50% 0;
}

.carousel-control-next{
  border-radius: 50% 0 0 50%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
background-color: #D64C94;
}

