<!DOCTYPE html>
<html>
<head>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='css/indexstyle.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>
<body>
    <div class="home">
        <div class="navbar">
            <div class="bg-image">
                <img id="btn-logo" src = "{{ url_for('static', filename='images/logoll.png') }}">
                <img id="btn-menu" src = "{{ url_for('static', filename='images/burgerbb.png') }}">
                

                <div class="video-container">
                    <span class = "close"> &#10006;</span>
                    <video src = "{{ url_for('static', filename='images/prayer.mp4') }}" controls class = "video"></video>
                </div>

                <div class="video-container2">
                    <span class = "close2"> &#10006;</span>
                    <video src = "{{ url_for('static', filename='images/nationalanthem.mp4') }}" controls class = "video2"></video>
                </div>

                <div id="menu">
                    <span class = "closemenu"> &#10006;</span>

                    <ul>
                        <a href = "#" class = "vidbtn"><li>PRAYER</li></a>
                        <a href = "#" class = "vidbtn2"><li>NATIONAL ANTHEM</li></a>

                        <li>HOW ARE YOU FEELING TODAY?</li>
                    </ul>
                    <div class = "econtainer">
                        <div class = "emote-container">
                            <img class= "emote" src = "{{ url_for('static', filename='images/imhappy.png') }}">
                            <img class= "emote" src = "{{ url_for('static', filename='images/imangry.png') }}">
                            <img class= "emote" src = "{{ url_for('static', filename='images/imsad.png') }}">
                            <img class= "emote" src = "{{ url_for('static', filename='images/imscared.png') }}">
                        </div> 
                    </div>
                </div> 
            </div>
        </div>

        <div class="content">
            <div class="maincontainer">
                <div class="sandtdiv">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/sandt.png') }}">
                    </a>    
                </div>
            
                <div class="tasdiv">
                    <a href="#">
                        <img src="{{ url_for('static', filename='images/tas.png') }}" >
                    </a>  
                </div>
            
                <div class="bulletinboarddiv">
                    <div class="boardcontent">
                        <b>TODAY IS</b>

                        <div class="datediv" id="datediv"></div>
                        <b>THE WEATHER IS</b>
                        
                        <div class = "container">
                            <div class = "button-container">
                                <img class= "weather" src = "{{ url_for('static', filename='images/sunny.png') }}">
                                <img class= "weather" src = "{{ url_for('static', filename='images/cloudy.png') }}">
                                <img class= "weather" src = "{{ url_for('static', filename='images/rainy.png') }}">
                                <img class= "weather" src = "{{ url_for('static', filename='images/windy.png') }}">
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    


    
      

<script async defer>
    $( document ).ready(function() {
        const date = new Date();

        let day = date.getDate();
        let month = date.getMonth() + 1;
        let year = date.getFullYear();

        var datediv = document.getElementById("datediv");

        datediv.innerHTML = month + "/" + day + "/" + year;
    });

        const images = document.querySelectorAll('.weather');

        images.forEach((image) => {
        image.addEventListener('click', () => {
            // hide all other images
            images.forEach((img) => {
            if (img !== image) {
                img.style.display = 'none';
            }
            });

            if (image.classList.contains('active')) {
                image.classList.remove('active');
                images.forEach((img) => {
                    img.style.display = '';
                });
            } else {
                image.classList.add('active');
            }
        });
        });


        var btnMenu = document.getElementById('btn-menu');
		var menu = document.getElementById('menu');

		btnMenu.addEventListener('click', function() {
			menu.classList.toggle('show');
		});

        const emoteimages = document.querySelectorAll('.emote');

        emoteimages.forEach((eimage) => {
        eimage.addEventListener('click', () => {
            // hide all other images
            emoteimages.forEach((img) => {
            if (img !== eimage) {
                img.style.display = 'none';
            }
            });

            if (eimage.classList.contains('active')) {
                eimage.classList.remove('active');
                emoteimages.forEach((img) => {
                    img.style.display = '';
                });
            } else {
                eimage.classList.add('active');
            }
        });
        });

        const vidbtn = document.querySelector('.vidbtn');
        const vidbtn2 = document.querySelector('.vidbtn2');
        const videoContainer = document.querySelector('.video-container');
        const videoContainer2 = document.querySelector('.video-container2');
        const close = document.querySelector('.close');
        const close2 = document.querySelector('.close2');
        const closeMenu = document.querySelector('.closemenu');


        vidbtn.addEventListener('click',()=>{
            videoContainer.classList.add('show');
        });

        vidbtn2.addEventListener('click',()=>{
            videoContainer2.classList.add('show');
        });

        close.addEventListener('click',()=>{
            const video = videoContainer.querySelector('video');
            videoContainer.classList.remove('show');
            video.pause();
            video.currentTime = 0;
        });

        close2.addEventListener('click',()=>{
            const video2 = videoContainer2.querySelector('video2');
            videoContainer2.classList.remove('show');
            video2.pause();
            video2.currentTime = 0;
        });

        closeMenu.addEventListener('click',()=>{
            menu.classList.remove('show');
        });
</script>
</body>

</html> 

