<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/sntstyle.css') }}">
        <title>Sign & Translate</title>
    </head>

<body>
    <div class="container">
        <div class="main-section">
            
            <div class="text-trans">
                <div class="pic-trans" id="picpic">
                    <img src = "{{ url_for('static', filename='images/pictrans/ARM.png') }}" id = "tpic">
                </div>
                
                <div class="translatedword" id="translatedword">
                    Translated Word
                </div>
            </div>
          <!-- Box or container for the buttons -->
            <div class="button-slider">
                <div class="button-container"> 
                    <button id = "adjbtn" class ="btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Adjectives.png') }}" class = "all">
                    </button>
                    <button id = "alphabtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Alphabet.png') }}" class = "all">
                    </button>
                    <button id = "bodbtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/body.png') }}" class = "all">
                    </button>

                    <button id = "clobtn" class ="btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Clothes.png') }}" class = "all">
                    </button>
                    <button id = "colbtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Colors.png') }}" class = "all">
                    </button>
                    <button id = "dribtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Drinks.png') }}" class = "all">
                    </button>

                    <button id = "emobtn" class ="btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Emotions.png') }}" class = "all">
                    </button>
                    <button id = "fambtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Family.png') }}" class = "all">
                    </button>
                    <button id = "foobtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Food.png') }}" class = "all">
                    </button>

                    <button id = "fruibtn" class ="btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Fruits.png') }}" class = "all">
                    </button>
                    <button id = "houbtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/House.png') }}" class = "all">
                    </button>
                    <button id = "numbtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Numbers.png') }}" class = "all">
                    </button>

                    <button id = "objbtn" class ="btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Objects.png') }}" class = "all">
                    </button>
                    <button id = "placebtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Places.png') }}" class = "all">
                    </button>
                    <button id = "probtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Pronouns.png') }}" class = "all">
                    </button>

                    <button id = "shapesbtn" class ="btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Shapes.png') }}" class = "all">
                    </button>
                    <button id = "vegbtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Vegetables.png') }}" class = "all">
                    </button>
                    <button id = "verbbtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Verbs.png') }}" class = "all">
                    </button>
                    <button id = "weabtn" class = "btn">
                        <img src = "{{ url_for('static', filename='images/sat_icons/Weather.png') }}" class = "all">
                    </button>

                </div>
            </div>
        </div>

        <div class="side-section">
            
            <div class="camera-div">
                <div class = "currentcategory" id="currentcategory">
                    YOU ARE NOW SIGNING LETTERS FROM THE FSL ALPHABET
                </div>
                
                <div class="vid-cont">
                    <img src="{{ url_for('video_feed') }}">
                    <span id = "st-tool4"> Make sure you're in the MIDDLE!</span>
                </div>
                
            </div>

            <div class="snt-tool">
                <h2>❔HOW TO USE❔</h2>
                <div class="tool-content">
                    <h3>DO THESE...</h3>
                    <p> Find a CLEAR background, <br>
                        Find a WELL-LIT area,<br>
                        When signing, put your hand in HEAD-LEVEL,<br>
                        Put your HAND DOWN when signing a new word,<br>
                        Remove your FACE MASK, HAT, and ARM ACCESORIES.
                    </p>
                    <h1>PICK from the categories then start signing!😃</h1>
                </div>

                <div class="back-to-home">
                    <a href="{{ url_for('home')}}">BACK TO HOME</a>
                </div>
            </div>
        </div>

    </div>
</body>

<script async defer>
    // JavaScript code to handle button clicks
    var currentcategory = document.getElementById("currentcategory");
    document.getElementById("adjbtn").addEventListener("click", function() {
        sendRequest("adjectives");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING ADJECTIVES"
    });

    document.getElementById("alphabtn").addEventListener("click", function() {
        sendRequest("alphabet");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING LETTERS FROM THE FSL ALPHABET"
    });

    document.getElementById("bodbtn").addEventListener("click", function() {
        sendRequest("body");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING PARTS OF THE BODY"
    });

    document.getElementById("clobtn").addEventListener("click", function() {
        sendRequest("clothes");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING CLOTHES"
    });

    document.getElementById("colbtn").addEventListener("click", function() {
        sendRequest("colors");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING COLORS"
    });

    document.getElementById("dribtn").addEventListener("click", function() {
        sendRequest("drinks");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING DRINKS"
    });

    document.getElementById("emobtn").addEventListener("click", function() {
        sendRequest("emotions");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING EMOTIONS"
    });

    document.getElementById("fambtn").addEventListener("click", function() {
        sendRequest("family");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING FAMILY RELATIONSHIPS"
    });

    document.getElementById("foobtn").addEventListener("click", function() {
        sendRequest("foods");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING FOODS"
    });

    document.getElementById("fruibtn").addEventListener("click", function() {
        sendRequest("fruits");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING FRUITS"
    });

    document.getElementById("houbtn").addEventListener("click", function() {
        sendRequest("house");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING HOUSE-RELATED WORDS"
    });

    document.getElementById("numbtn").addEventListener("click", function() {
        sendRequest("numbers");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING NUMBERS"
    });

    document.getElementById("objbtn").addEventListener("click", function() {
        sendRequest("school");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING SCHOOL OBJECTS"
    });

    document.getElementById("placebtn").addEventListener("click", function() {
        sendRequest("places");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING PLACES"
    });

    document.getElementById("probtn").addEventListener("click", function() {
        sendRequest("pronouns");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING PRONOUNS"
    });

    document.getElementById("shapesbtn").addEventListener("click", function() {
        sendRequest("shapes");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING SHAPES"
    });

    document.getElementById("vegbtn").addEventListener("click", function() {
        sendRequest("vegetables");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING VEGETABLES"
    });

    document.getElementById("verbbtn").addEventListener("click", function() {
        sendRequest("verbs");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING VERBS"
    });

    document.getElementById("weabtn").addEventListener("click", function() {
        sendRequest("weather");
        currentcategory.innerHTML = "YOU ARE NOW SIGNING WEATHER"
    });


    // Function to send HTTP request to Flask server
    function sendRequest(buttonInfo) {
        var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    //console.log("Response from Flask server: " + this.responseText);
                }
        };
        xhttp.open("GET", "/button-clicked?info=" + buttonInfo, true);
        xhttp.send();
    }

    


    setInterval(() => {
        fetch('/get_data')
        .then(response => response.text())
        .then(data => {
            image = data;
            document.getElementById('translatedword').innerHTML = image;
            var urlstr = "{{ url_for('static', filename='images/pictrans') }}/" + image + ".png";
            console.log(urlstr)
            document.getElementById('tpic').src = urlstr
        });
    }, 300); // check every 1 second

    var spanText4 = document.getElementById('st-tool4');

    window.onmousemove = function(e){
        var x4 = e.clientX, y4 = e.clientY;

        spanText4.style.top = (y4+15) + 'px';
        spanText4.style.left = (x4-375) + 'px';
    }

    const categ = document.querySelectorAll('.all');

    categ.forEach((buttonc) => {
    buttonc.addEventListener('click', () => {
        // Remove active class from all buttons
        categ.forEach((btnc) => {
        btnc.classList.remove('active');
        });
        
        // Add active class to clicked button
        buttonc.classList.add('active');
    });
    });


</script>

</html>


